
//google search: javafx css
.root{
    -fx-background-image: url("background.jpg")
}

#btnc{
    -fx-font: 20;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#61a2b1,#2A5058);
    -fx-font-weight: bold;
    -fx-font-family: "Arial Narrow"
}

.lable{
    -fx-background-color: red;
    -fx-font: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #0e1d33;
}